* {
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

.top ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.top .contact-bar {
  justify-content: center;
}

.top .navigation {
  display: flex;
  justify-content: space-between;
}
