:root {
	--blue: #28a6a9;
	--darker: #124d4e;
	--dark: #3a3a3a;
	--grey: #f9f9f9;
}

body {
	font-family: 'Gudea', sans-serif;
	color: var(--dark);
}

a {
	color: inherit;
	transition: .3s;
}

a:hover {
	color: var(--darker);
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

h1, h2, h3 {
	font-weight: 700;
	margin: 0;
}

h2 {
	font-size: 3rem;
}

h3 {
	color: var(--blue);
}

img {
	vertical-align: center;
	max-width: 100%;
}

.form-control {
	border-color: var(--blue);	
}

.btn-primary {
	background: var(--blue);
	border-color: var(--blue);
	white-space: normal;
	color: white !important;
}

.btn-primary:not(:disabled):not(.disabled):active, .dropdown-item.active, .dropdown-item:active {
	background-color: var(--darker);
}

a.btn-primary:hover, .btn-primary:hover {
	background: white;
	color: var(--blue) !important;
    border-color: var(--blue);
}

.social-media {
	list-style-type: none;
	display: flex;
	justify-content: center;
	padding: 0;
	margin: 0;
}

.social-media li {
	font-size: 1.3rem;
	margin: 0 20px;
	color: var(--blue);
}

ion-icon {
	font-size: 1.3rem;
	padding-top: 3px;
}




/* top navigation */
nav.top-navigation.navbar {
	background: var(--blue);
	color: white;
	box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.54);
}

nav.top-navigation.navbar .navbar-brand {
	width: 100%;
}

nav.top-navigation.navbar .form-inline {
	flex-wrap: nowrap;
}

nav.top-navigation.navbar a.btn {
	color: white;
}

nav.top-navigation.navbar .navbar-toggler {
	color: white;
}
nav .dropdown-menu {
	background-color: var(--blue);
	border: none;
	border-radius: 0;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	padding: 0;
	top: 115%;
}

nav .dropdown-menu a {
	color: white;
}
/* top navigation end */




/* header */
header.top-header {
	background-image: url('../img/photo-1517232115160-ff93364542dd.jpg');
	background-size: cover;
	background-position: center;
	color: white;
}

header.top-header .container {
	border-radius: 0;
	background-color: rgba(0, 0, 0, 0.7);
}

header.top-header a.btn {
	width: 100%;
}

header.top-header a.btn:hover {
	color: var(--blue);
}
/* header end */




/* content */
section {
	padding: 40px 0;
}

section .container {
	background: var(--grey);
	border-radius: 0;
	padding: 40px;
	border: 1px solid gainsboro;
	box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.08);
}

section .section-title {
	flex-direction: column;
}

table.resultados {
	width: 100%;
	text-align: center;
	border-collapse: separate;
	border-spacing: 5px;
	transition: .3s;
	border-radius: 3px;
	padding: 10px;
}

table.resultados:hover {
	transform: scale(1.05);
}

table.resultados:hover th {
	background: var(--blue);
	color: white;
}

table.resultados:hover td.hora {
	color: var(--blue);
}

table.resultados th {
	padding: 10px;
	border: 1px solid var(--blue);
	color: var(--blue);
	border-radius: 3px;
	background: white;
	transition: .3s;
}

table.resultados td {
	padding: 10px;
	background: white;
	border-radius: 3px;
	border: 1px solid gainsboro;
}

.circle img {
	width: 100%;
	border-radius: 50%;
}

.circle {
	border: 5px solid var(--blue);
	border-radius: 50%;
	position: relative;
	padding: 5px;
	margin: 0 auto;
	width: 50%;
}

.circle .number {
	font-size: 5rem;
	font-weight: bold;
	position: absolute;
	top: 0;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}

.lotto-activo > .container > .row > div {
	transition: .3s;
}

.lotto-activo > .container > .row > div:hover {
	transform: scale(1.05);
}

.accordion .card {
	border-radius: 4px !important;
	margin-bottom: 10px;
	border: 1px solid gainsboro !important;
	border-bottom: 1px solid gainsboro !important;
}

.accordion .card-header {
	background: transparent;
	border-bottom: none;
}

.accordion .card-header .btn {
	white-space: normal;
	text-align: left;
}

.accordion .card-body {
	border-top: 1px solid gainsboro;
}

.accordion .card-header button {
	color: var(--dark);
}

.input-group-append, .input-group-prepend {
	display: -ms-flexbox;
	display: flex;
	background: var(--blue);
	color: white;
	padding: 5px 15px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}
/* content end */




/* misc */
.date-picker-wrapper {
	box-shadow: none;
	background: white;
	border-radius: 4px;
	border-color: gainsboro;
	margin-top: 15px;
}

.date-picker-wrapper .drp_top-bar .apply-btn {
	background: var(--blue);
	border: none;
	padding: 5px 10px;
}

.date-picker-wrapper table .caption {
	color: var(--darker);
}

.date-picker-wrapper .month-wrapper table .week-name {
	color: var(--blue);
}

.date-picker-wrapper .month-wrapper .week-name th {
	font-weight: normal;
	padding-bottom: 20px;
}

.date-picker-wrapper tbody {
	padding-top: 10px;
}

.date-picker-wrapper .month-wrapper {
	border: none;
}

.date-picker-wrapper .month-wrapper table .day {
	padding: 8px;
}

.date-picker-wrapper .first-date-selected, .date-picker-wrapper .last-date-selected {
	background-color: var(--darker) !important;
}

.date-picker-wrapper .month-wrapper table .day.checked {
	background: var(--blue);
}

.dataTables_length select, .dataTables_filter input {
	padding: 2px 10px;
	border: 1px solid gainsboro;
	border-radius: 4px;
	margin-bottom: 20px;
}

table.dataTable thead th,
table.dataTable tfoot th {
	color: var(--darker);
}

table.dataTable thead th,
table.dataTable thead td {
	border-color: var(--blue);
}

table.dataTable.no-footer {
	border-color: var(--blue);
}

table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > td:first-child:before, table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > th:first-child:before {
	background: var(--blue);
}

table.dataTable.dtr-inline.collapsed > tbody > tr.parent > td:first-child:before, table.dataTable.dtr-inline.collapsed > tbody > tr.parent > th:first-child:before {
	background: var(--darker);
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
	border-color: gainsboro;
	background: white;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
	background: var(--blue);
	border-color: var(--darker);
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
	padding: 4px 12px;
}

/* misc end */




/* footer */
footer {
	margin-top: 100px;
	background: var(--grey);
	padding-top: 40px;
	border-top: 1px solid gainsboro;
}
footer form {
	max-width: 450px;
}

footer form .form-control {
	border: none;
	border-bottom: 1px solid gainsboro;
	margin-bottom: 10px;
}

footer form .form-control:focus {
	box-shadow: none;
	border-bottom: 1px solid var(--blue);
}

footer form input[type="submit"] {
	background: var(--blue);
	color: white;
	cursor: pointer;
}
footer .bottom {
	border-top: 1px solid gainsboro;
	font-size: .95rem;
}
/* footer end */